/*Landing Page*/
.landingBody{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main{
  margin-top: -107px;
}
/*video portal logo*/
.loginButton{
  display: inline-block;
  background: #d63932;
  color:#ffffff;
  text-decoration: none !important;
}

.bloc-logo {
    position: relative;
    width: 1030px;
    height: 232px;
    float: left;
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
    display: block;
    width: 1030px;
    height: 232px;
}

.bloc-logo .logo-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("images/logo.png");
    text-indent: -9999px;
}

/*Buttons*/

button {
    color: #454545;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
}
button:before,
button:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}
button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}
button:hover:before,
button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff;
}
button:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff;
}
.panel {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}
.pink button {
    color: #3bb4e5;
    border-color: #3bb4e5;
}
.pink button:before,
.pink button:after {
    border-color: #3bb4e5;
}
.pink button:hover:before,
.pink button:hover:after {
    border-color: #3bb4e5;
}
.pink button:hover {
    color: #fff;
    background-color: #3bb4e5;
    border-color: #3bb4e5;
}
.pink .panel {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}

/* video-cards*/
.video-width {
  max-width: 100%;
}
.video-cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.video-card {
  position: relative;
  margin-bottom: 20px;
  /*padding-bottom: 30px;*/
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .video-card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .video-card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .video-card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .video-card:nth-child(even) {
    margin-right: 20px;
  }
  .video-card:nth-child(3n) {
    margin-right: 0;
  }
}
.video-card div {
  display: block;
}
.video-card .video-card-summary {
  padding: 5% 5% 3% 5%;
}
.video-card .video-card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.video-card .video-card-header:hover, .video-card .video-card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.video-card .video-card-title {
  background: rgba(157, 187, 63, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.video-card .video-card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.video-card .video-card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.video-card:hover, .video-card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.video-card:hover .video-card-title, .video-card:focus .video-card-title {
  background: rgba(157, 187, 63, 0.95);
}
.video-card:hover .video-card-meta, .video-card:focus .video-card-meta {
  max-height: 1em;
}


* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*video-cards header*/

.title-box{
 position: relative;
 height: 307px;
 background-color:#fff;
 background-size:contain;
 background-position: top center;
 background-attachment: fixed;
 overflow: hidden;
  }
.line-header{
  width:100%;
  height:307px;
  /*background-color: rgba(255, 192, 203, 0.18);*/
  background-image: url("images/videoheader/lines.png");
  background-repeat: no-repeat;
  background-size: 1319px;
  position: absolute;
  }

  .camera-header{
    width:1266px;
    height:307px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/camera.png");
    background-repeat: no-repeat;
    background-position: 97% -6%;
    background-size: 200px 200px;
    position: absolute;

  }
  .highreel-header{
    width:1266px;
    height:307px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/highreel.png");
    background-repeat: no-repeat;
    background-position: 9% -42%;
    background-size: 180px 180px;
    position: absolute;
  }

  .miniwheel-header{
    width:1266px;
    height:307px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/miniwheel.png");
    background-repeat: no-repeat;
    background-position: 74% -41%;
    background-size: 150px 150px;
    position: absolute;
  }

  .nanowheel-header{
    width:1266px;
    height:307px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/nanowheel.png");
    background-repeat: no-repeat;
    background-position: -4% 13%;
    background-size: 130px 130px;
    position: absolute;
  }

  .bigwheel-header{
    width:1266px;
    height:445px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/bigwheel.png");
    background-repeat: no-repeat;
    background-position: 48% 85%;
    background-size: 200px 200px;
    position: absolute;

  }
  .clap-header{
    width:1266px;
    height:445px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/clap.png");
    background-repeat: no-repeat;
    background-position: -2% 91%;
    background-size: 310px 310px;
    position: absolute;

  }
  .lowreel-header{
    width:1266px;
    height:445px;
    /*background-color: rgba(255, 192, 203, 0.18);*/
    background-image: url("images/videoheader/lowreel.png");
    background-repeat: no-repeat;
    background-position: 77% 70%;
    background-size: 210px 210px;
    position: absolute;

  }

  .logo{
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -29px;
  text-align: center;
  }
  /*.canvas-title-box {
    position: relative;
    height: 300px;
    text-align: center;
    background-attachment: fixed;
  }
.canvas-title-box canvas{
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
  }

.canvas-title-box .title-wrapper h3{
  position: relative;
    display: inline-block;
    padding: 3px 7px;
    border: solid 1px transparent;
    margin-top:100px;
    z-index: 1;
    text-decoration: none;
    color: #fff;
    font-family:
}*/

@media (max-width: 768px) {
  .video-container {
    width: 250px !important;
    height: 950px !important;
    overflow: hidden;
  }
  .video-container .about-movie {
    display: inline-block !important;
  }
  .video-container .about-movie p {
    width: 49% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}
.movie-card .video-container {
  margin: 0 auto;
  width: 680px;
  height: 640px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}
.movie-card .video-container a img {
  max-width: 550px;
  max-height: 250px;
}
.movie-card .video-container .back-cover {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.movie-card .video-container .back-cover:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://laughingsquid.com/wp-content/uploads/bbillo2.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-3.2deg);
  transform-origin: 0 0;
}
.movie-card .video-container .cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}
.movie-card .video-container .cover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.movie-card .video-container .details {
  padding: 238px 0 0 268px;
}
.movie-card .video-container .details .title1 {
  color: #eee;
  font-size: 44px;
  margin-bottom: 16px;
  position: relative;
}
.movie-card .video-container .details .title1 span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  padding: 0px 4px;
}
.movie-card .video-container .title2 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.movie-card .video-container .likes {
  margin-left: 30px;
  display: inline-block;
  padding-bottom: 19px;
}
.movie-card .video-container .likes:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
  position: relative;
  top: 2px;
  padding-right: 7px;
}
.movie-card .video-container .about-movie {
  display: inline-flex;
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}
.movie-card .video-container .about-movie .colum-one {
  padding-left: 50px;
  padding-top: 90px;
  width: 220px;
  float: left;
  text-align: left;
}
.movie-card .video-container .about-movie .colum-one .colum-catogary {
  text-align: left;
  margin-left: -20px;
}
.movie-card .video-container .about-movie .colum-one .colum-catogary span {
  padding: 1px 8px;
  font-size: 14px;
  background: white;
  border-radius: 10px;
  margin-left: 2px;
}
.movie-card .video-container .about-movie .colum-one .colum-catogary span:hover {
  background: #999;
  color: white;
  cursor: pointer;
}
.movie-card .video-container .about-movie .colum-second {
  padding-left: 38px;
  padding-top: 21px;
  margin-left: -39px;
  width: 480px;
  float: left;
}
.movie-card .video-container .about-movie .colum-second p {
  width: 76%;
}
.movie-card .video-container .about-movie .colum-second p a {
  text-decoration: none;
  color: #6e6ed8;
}

/*start rate system style */
fieldset {
  border-color: #fff;
  border-style: none;
}

.starRating {
  margin-left: -22px;
}

.starRating > * {
  float: left;
}

/*Navbar*/
.navFixed {
	top: 0;
	height: 50px;
	z-index: 1;
  width: 100%;
  background-color: #596174;
  color:#fff;
}
/*Login-Page*/


/*border radius zero*/
.card,.card-img-top,.list-group-item{
  border-radius:0 !important;
}
.list-group-item{
  border: none !important;
  border-top:1px solid #ddd !important;
}

/*typography*/
h6{
  font-size: 0.9rem !important;
}
p{
  font-size: 0.86rem !important;
}

/*display*/
